.loading-server-overlay_loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    top: 0;
    left: 0;
    z-index: 40000;
  }
  
  .loading-server-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    animation-name: rotateAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  .loading-server-loader > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation-name: translateAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  .loading-server-loader > div:nth-child(1) {
    top: -20px;
    animation-name: translateAnimTop;
  }
  .loading-server-loader > div:nth-child(2) {
    left: 20px;
    animation-name: translateAnimRight;
  }
  .loading-server-loader > div:nth-child(3) {
    top: 20px;
    animation-name: translateAnimBottom;
  }
  .loading-server-loader > div:nth-child(4) {
    left: -20px;
    animation-name: translateAnimLeft;
  }
  
  @keyframes rotateAnim {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(90deg);
    }
    75% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes translateAnimTop {
    0% {
      transform: translateY(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    25% {
      transform: translateY(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    50% {
      transform: translateY(-20px);
      background-color: rgba(255, 255, 255, 0);
    }
    75% {
      transform: translateY(-20px);
      background-color: rgba(255, 255, 255, 0);
    }
    100% {
      transform: translateY(0px);
      background-color: #fff;
      background-color: rgba(255, 255, 255, 1);
    }
  }
  @keyframes translateAnimBottom {
    0% {
      transform: translateY(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    25% {
      transform: translateY(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    50% {
      transform: translateY(20px);
      background-color: rgba(255, 255, 255, 0);
    }
    75% {
      transform: translateY(20px);
      background-color: rgba(255, 255, 255, 0);
    }
    100% {
      transform: translateY(0px);
      background-color: rgba(255, 255, 255, 1);
    }
  }
  @keyframes translateAnimLeft {
    0% {
      transform: translateX(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    25% {
      transform: translateX(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    50% {
      transform: translateX(-20px);
      background-color: rgba(255, 255, 255, 0);
    }
    75% {
      transform: translateX(-20px);
      background-color: rgba(255, 255, 255, 0);
    }
    100% {
      transform: translateX(0px);
      background-color: rgba(255, 255, 255, 1);
    }
  }
  @keyframes translateAnimRight {
    0% {
      transform: translateX(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    25% {
      transform: translateX(0px);
      background-color: rgba(255, 255, 255, 1);
    }
    50% {
      transform: translateX(20px);
      background-color: rgba(255, 255, 255, 0);
    }
    75% {
      transform: translateX(20px);
      background-color: rgba(255, 255, 255, 0);
    }
    100% {
      transform: translateX(0px);
      background-color: rgba(255, 255, 255, 1);
    }
  }
  