.slider {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-negroSecundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-content {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  width: 85%;
  height: 85%;
  border-bottom: 1px solid var(--color-blancoPrimario);
  border-right: 1px solid var(--color-blancoPrimario);
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--color-negroPrimario);
}
.slider-content-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.slider-content-footer > .pag-indicator {
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider-content-footer .pag-indicator > div {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: 3px solid var(--color-grisSecundario);
  cursor: pointer;
}
.slider-content-footer .pag-indicator > .active {
  border: 3px solid var(--color-blancoPrimario) !important;
}
.slider-content-footer .btn-move {
  display: flex;
  justify-content: center;
  width: 100%;
}
.slider-content-footer .btn-move > button {
  background-color: inherit;
  border: none;
  box-sizing: border-box;
  padding: 0.3em;
  cursor: pointer;
  font-size: 100%;
  width: 7%;
}
.slider-content-footer .btn-move > button svg {
  fill: var(--color-grisSecundario);
}
.slider-content-footer .btn-move button:hover svg {
  fill: var(--color-blancoPrimario);
  transition: all 0.3s;
}
.slider-content-footer .btn-move > button:first-of-type {
  border-left: 1px solid var(--color-grisSecundario);
  border-bottom: 1px solid var(--color-grisSecundario);
  border-end-start-radius: 0.3em;
}
.slider-content-footer .btn-move > button:first-of-type:hover {
  border-left: 1px solid var(--color-blancoPrimario);
  border-bottom: 1px solid var(--color-blancoPrimario);
  transition: all 0.3s;
}
.slider-content-footer .btn-move > button:last-of-type {
  border-end-end-radius: 0.3em;
  border-bottom: 1px solid var(--color-grisSecundario);
  border-right: 1px solid var(--color-grisSecundario);
}
.slider-content-footer .btn-move > button:last-of-type:hover {
  border-bottom: 1px solid var(--color-blancoPrimario);
  border-right: 1px solid var(--color-blancoPrimario);
  transition: all 0.3s;
}
.slider-content-title {
  background-color: var(--color-blancoPrimario);
  box-sizing: border-box;
  padding: 1em;
  display: flex;
}
.slider-content-title > * {
  color: var(--color-negroPrimario);
}
.slider-content-title h1:last-child {
  margin-left: 0.3em;
  color: var(--color-grisPrimario);
}
.no-clic {
  cursor: not-allowed !important;
}
.no-clic:first-of-type:hover {
  border-left: 1px solid var(--color-grisSecundario) !important;
  border-bottom: 1px solid var(--color-grisSecundario) !important;
}
.no-clic:hover > svg {
  fill: var(--color-grisSecundario) !important;
}

.no-clic:last-of-type:hover {
  border-bottom: 1px solid var(--color-grisSecundario) !important;
  border-right: 1px solid var(--color-grisSecundario) !important;
}
.finish-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-okPrimario);
  padding: 1em;
  border: none;
  cursor: pointer;
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
  animation: opacityEffect 0.5s forwards ease;
}
.finish-btn:hover {
  opacity: 1 !important;
}
.card-question {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  animation: opacityEffect2 0.5s forwards ease;
}
@keyframes opacityEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes opacityEffect2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1s;
  }
}
@media all and (max-width: 749px) {
  .slider-content-title h1 {
    font-size: 120%;
  }
}
