.time-out {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-negroSecundario);
}
.time-out-container {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-negroPrimario);
  border-radius: 1em;
  box-sizing: border-box;
  padding: 1em;
}
.timeout-img {
  width: 40%;
  height: 20%;
}

.timeout-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
