.time-modal {
  position: absolute;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
}
.time-modal .timer {
  background-color: var(--color-negroPrimario);
  box-sizing: border-box;
  padding: 1em;
  border-bottom: 1px solid var(--color-blancoPrimario);
  border-radius: 0.4em;
  margin-top: 0.4em;
  user-select: none;
}
