.q4-calculadora {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.q4-calculadora .q4-calc-results > *,
.q4-calculadora .q4-calc-form > * {
  margin-bottom: 0.4em;
}
.q4-calculadora .q4-calc-form {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.q4-calculadora .q4-calc-form button {
  background-color: var(--color-blancoPrimario);
  color: var(--color-negroPrimario);
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 0.6em;
  border-radius: 0.45em;
  cursor: pointer;
}
.q4-calculadora .q4-calc-form button:focus {
  background-color: var(--color-blancoSecundario);
}
.q4-calculadora .q4-calc-results input[type='number'],
.q4-calculadora .q4-calc-form input[type='number'] {
  background-color: var(--color-blancoPrimario);
  color: black;
  border: none;
  outline: none;
  padding: 0.4em;
  border-radius: 0.4em;
}
.q4-calculadora .q4-calc-results {
  width: 45%;
}
h2 {
  padding: 0.4em;
  border-radius: 0.4em;
  border-bottom: 1px solid var(--color-blancoPrimario);
  margin-bottom: 0.4em;
}
.pista-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pista-container h3 {
  margin-bottom: 0.9em;
}
.pista-container > .pista-options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.pista-container .pista-options > button {
  padding: 0.4em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 0.3em;
}
.pista-container .pista-options > button {
  background-color: var(--color-azulPrimario);
}
